<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title></title>
</head>
<body>
	<div class='container'>
		<h1> </h1>
		<p> </p>
		<form action='/view'>
			<div class='form-group'>
				<label for='name'> Name: </label>
				<input id='name' name='name' class='form-control' type='text'>
			</div>
			<button type='submit' class='btn-success'>Submit</button>
		</form>
	</div>
</body>
</html>
