<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h1>You created a contact!</h1>
                    <h3> {{ newcontact.getName }}!</h3>
                </div>
            </div>  <!-- End of row -->
            <div class='row'>
                <div class='col-md-6'>
                    <p> <!-- {{Enter twig statement here}} --> </p>
                </div>
            </div>  <!-- End of row -->
            <div class='row'>
                <div class='col-md-6'>
                    <p>  <!-- {{Enter twig statement here}} --> </p>
                </div>
            </div> <!-- End of row -->
            <strong><a href='/'>Back to input form</a></strong>
        </div>  <!-- End of container -->
    </body>
</html>
