<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title> </title>
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h1>Possible Anagrams:</h1>
                    <h3> {{ result }}</h3>
                </div>
            </div> <!-- End of row -->
            <div class='row'>
                <div class='col-md-4'>
                    <strong><a href='/'>Back to input form</a></strong>
                </div> 
            </div>  <!-- End of row -->                
        </div>  <!-- End of container -->
    </body>
</html>
